<section class="galeria-infinita">
    <div class="slider-track">
        <div class="slide"><img src="images/3m.png" alt="3M"></div>
        <div class="slide"><img src="images/btcino.png" alt="Btcino"></div>
        <div class="slide"><img src="images/legrand.png" alt="Legrand"></div>
        <div class="slide"><img src="images/schneider.png" alt="Schneider Electric"></div>
        <div class="slide"><img src="images/stanley.png" alt="Stanley"></div>
        <div class="slide"><img src="images/tigre.png" alt="Tigre"></div>
        <div class="slide"><img src="images/total.png" alt="Total"></div>
        <div class="slide"><img src="images/vinilit.png" alt="Vinilit"></div>
        <div class="slide"><img src="images/vkb.png" alt="VKB"></div>
        
        <div class="slide"><img src="images/3m.png" alt="3M"></div>
        <div class="slide"><img src="images/btcino.png" alt="Btcino"></div>
        <div class="slide"><img src="images/legrand.png" alt="Legrand"></div>
        <div class="slide"><img src="images/schneider.png" alt="Schneider Electric"></div>
        <div class="slide"><img src="images/stanley.png" alt="Stanley"></div>
        <div class="slide"><img src="images/tigre.png" alt="Tigre"></div>
        <div class="slide"><img src="images/total.png" alt="Total"></div>
        <div class="slide"><img src="images/vinilit.png" alt="Vinilit"></div>
        <div class="slide"><img src="images/vkb.png" alt="VKB"></div>
    </div>
</section>
