<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-section about">
            <img src="images/logo_makro.png" alt="Comercializadora Makro SPA" class="footer-logo">
            <p>Soluciones eficientes en comercialización y distribución para impulsar tu industria y hogar desde Parral.</p>
            <div class="social-icons">
                <a href="https://facebook.com/ComercializadoraMakro" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com/Comercializadora.makro" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
        </div>

        <div class="footer-section links">
            <h3>Navegación</h3>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Catálogo</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-section contact">
            <h3>Contacto y Ubicación</h3>
            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i> 
                    Victoria 376, Parral, Región del Maule
                </li>
                
                <li>
                    <i class="fas fa-phone"></i> 
                    <a href="tel:+56936246559">+56 9 3624 6559</a>
                </li>
                <li>
                    <i class="fas fa-phone"></i> 
                    <a href="tel:+56732616396">+56 7 3261 6396</a>
                </li>
                
                <li>
                    <i class="fas fa-envelope"></i> 
                    Ventamakro@gmail.com
                </li>
            </ul>

            <h3 class="mt-4">Horario de Atención</h3>
            <ul class="schedule-list">
                <li><i class="far fa-clock"></i> <strong>Lun - Vie:</strong> 8:30 – 13:00 hrs a 14:30 - 19:00hrs</li>
                <li><i class="far fa-clock"></i> <strong>Sábado:</strong> 9:00 – 14:00 hrs</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Comercializadora Makro SPA | Desarrollado por <strong>Albyon Digital</strong></p>
    </div>
</footer>

<a href="https://wa.me/56936246559" class="wsp-float" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp"></i>
    <span class="wsp-tooltip">¿Buscas algún producto? ¡Escríbenos!</span>
</a>
